@use "sass:math";

@import "./styles/abstracts/functions";
@import "./styles/abstracts/variables";
@import "./styles/abstracts/mixins";

.component__header {
  $this: &;

  --margin-top: 0;
  --margin-bottom: 0;

  @media screen and (max-width: $mobile-nav-primary-breakpoint) {
    .col #{$this}__nav {
      display: none;
    }
  }

  .row {
    @media screen and (max-width: $sm) {
      --gap: calc(var(--padding) * 1.5);
    }
  }
}
