@use "sass:math";
@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.component__social-links {
  ul {
    list-style: none;
  }

  svg {
    aspect-ratio: 1 / 1;
    display: block;
    width: 1em;
    fill: var(--link-color);

    @media screen and (max-width: $sm) {
      font-size: 1.2rem;
    }
  }
}
