@use "sass:math";

@import "./styles/abstracts/functions";
@import "./styles/abstracts/variables";
@import "./styles/abstracts/mixins";

.component__social-links {
  ul {
    list-style: none;
  }
  svg {
    aspect-ratio: 1 / 1;
    display: block;
    width: 1em;
    fill: var(--link-color);
    @media screen and (max-width: $xs) {
      font-size: 1.2rem;
    }
  }
}
