@use "sass:math";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.component {
  --margin-top: var(--padding);
  --margin-bottom: var(--padding);

  &--nomargin {
    --margin-top: 0;
    --margin-left: 0;
    --margin-right: 0;
    --margin-bottom: 0;
  }
}
