@use "sass:math";

@import "./styles/abstracts/functions";
@import "./styles/abstracts/variables";
@import "./styles/abstracts/mixins";

.component__picture {
  width: 100%;
  min-width: 100%;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  &--rounded img {
    border-radius: 50%;
  }
  &--absolute {
    inset: 0;
    margin: 0;
    position: absolute;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
