@use "sass:math";
@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

@mixin gridSpan($prefix: null, $size) {
  $prefix: getPrefix($prefix);

  &--#{$prefix}#{$size} {
    grid-column: span $size;
  }
  &--#{$prefix}cell-#{$size} {
    grid-row: span $size;
  }
}

.grid {
  width: 100%;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($columns, 1fr);

  > .col {
    position: relative;
    grid-row: span $columns;
    grid-column: span $columns;

    // Generate responsive classes for cells
    @each $prefix, $breakpoint in $breakpoints {
      @if $prefix == "full" {
        @for $size from 1 through $columns {
          @include gridSpan($prefix, $size);
        }
      } @else {
        // Generate responsive classes for grid media queries
        @media screen and (max-width: $breakpoint) {
          @for $size from 1 through $columns {
            @include gridSpan($prefix, $size);
          }
        }
      }
    }
  }
}
