@use "../../styles/abstracts/variables" as *;

.section-home-hero {
  --set-container-padding-top: 32;

  @media screen and (min-width: $md) {
    --set-container-padding-top: 48;
  }

  h1 {
    margin-bottom: 0.5em;
    text-align: center;
  }

  h3 {
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .component__accordion .component__accordion__item > h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .big {
    max-width: 52ch;
    margin-left: auto;
    margin-right: auto;
  }

  .component__buy {
    --margin-top: 1.5rem;
    --margin-bottom: 0.5rem;
  }
}
