@use "sass:math";
@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

@mixin bookMeClickElement($border: null) {
  padding: 0.75em;
  cursor: pointer;
  appearance: none;
  line-height: 1em;
  box-sizing: border-box;
  border: var(--border-width) solid transparent;

  @if $border {
    border-color: var(--body-color);
  }
}
