@use "sass:math";
@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;
@use "commons" as *;

.component__booking__hours__pagination {
  width: 100%;
  display: flex;
  margin-top: 1em;

  span {
    flex: 1;

    &:last-child {
      text-align: right;
    }
  }
}
