@font-face {
  font-family: "QuincyCF";
  src: url("/fonts/QuincyCF-Black.woff2") format("woff2"),
    url("/fonts/QuincyCF-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "QuincyCF";
  src: url("/fonts/QuincyCF-Medium.woff2") format("woff2"),
    url("/fonts/QuincyCF-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
