@use "sass:math";
@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.component__logo {
  a {
    text-decoration: none;
  }

  @media screen and (max-width: $md) {
    a {
      font-size: 1.45em;

      &:link,
      &:visited {
        color: var(--primary-accent-color);
      }
    }
  }
}
