@use "sass:math";

@import "./styles/abstracts/functions";
@import "./styles/abstracts/variables";
@import "./styles/abstracts/mixins";

.component__accordion {
  $parent: &;
  padding: var(--double-padding);
  border-radius: var(--border-radius);
  background-color: var(--secondary-background-color);

  @include shadow();

  &__content {
    display: none;
    padding: var(--padding) var(--padding);
  }

  &__item {
    position: relative;
    margin-top: var(--border-width);
    margin-bottom: var(--border-width);
    scroll-margin-top: var(--padding);
    &::after {
      top: 0;
      content: "";
      position: absolute;
      left: var(--padding);
      right: var(--padding);
      height: var(--border-width);
      background-color: var(--body-background-color);
    }

    &:first-child {
      &::after {
        display: none;
      }
    }

    > *:first-child {
      margin: 0;
      display: flex;
      cursor: pointer;
      position: relative;
      align-items: center;
      padding: var(--padding) var(--padding);
      border-radius: calc(var(--border-radius) * 0.5);
      border-bottom: var(--border-width) solid transparent;

      i {
        margin-left: auto;
        line-height: 0em;
        font-style: normal;
        position: relative;
        border-radius: 100rem;
        padding: calc(var(--padding) * 1.5);
        background-color: var(--body-background-color);

        em {
          top: 50%;
          width: 0.9em;
          height: 0.9em;
          right: -0.2em;
          display: none;
          font-size: 0.9em;
          line-height: 1em;
          font-weight: 900;
          text-align: center;
          position: absolute;
          font-style: normal;
          border-radius: 100rem;
          transform: translateY(-50%);
          color: var(--body-color);
          background-color: var(--secondary-background-color);
          filter: drop-shadow(0 0 0.01em var(--body-color));

          @media screen and (max-width: $md) {
            display: block;
          }

          svg {
            top: 50%;
            left: 52%;
            width: 0.4em;
            height: auto;
            position: absolute;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    &--active {
      > *:first-child {
        background-color: var(--body-background-color);
      }
      #{$parent}__content {
        display: block;
      }
    }

    &--active,
    &:hover {
      > *:first-child {
        background-color: var(--body-background-color);
        i {
          background-color: var(--secondary-background-color);

          em {
            background-color: var(--secondary-background-color);
          }
        }
      }
    }
  }
}
