@use "sass:math";
@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.component__buy {
  > span {
    display: block;
    margin-bottom: 0.5em;
  }

  .contact-alternates {
    margin-top: 0.75rem;
  }
}
