@use "sass:math";

@import "./styles/abstracts/functions";
@import "./styles/abstracts/variables";
@import "./styles/abstracts/mixins";

@import "./commons";

.component__booking__calendar {
  nav {
    gap: 0em;
    display: flex;
    span {
      @include bookMeClickElement();

      padding-left: 0em;
      padding-right: 0em;
      text-align: center;
      flex: 0 0 math.div(100%, 7);

      &:first-child {
        flex-grow: 1;
        text-align: left;
        margin-left: initial;
      }

      svg {
        height: 1em;
        width: 0.65em;
        line-height: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        display: inline-block;
        fill: var(--body-color);
      }
    }
  }
}
