@use "sass:math";
@use "../../../styles/abstracts/variables" as *;
@use "../../../styles/abstracts/mixins" as *;
@use "./commons";

.component__booking__hours {
  &__list {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);

    span {
      @include bookMeClickElement(true);

      text-align: center;
    }
  }
}
